html {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  direction: rtl;
  height: 180vh;
}

.tdWidth {
  width: 1%;
}
.zoomOut {
  z-index: -1;
  width: 50%;
  height: 80px;
  padding: 0px;
  border-radius: 100%;
  box-shadow: 0em 0em 1em rgb(116, 116, 116);
  margin-bottom: 12px;
  justify-content: space-between;
}
.cardImg {
  width: 100%;
  height: auto;
  border-radius: 18px;
  border: solid #000000 0px;
  box-shadow: 1px 1px 12px 2px rgb(189, 188, 188);
}
.alert {
  width: 100%;
  height: 20rem;
  border-radius: 18px;
  border: solid #000000 0px;
  box-shadow: 1px 1px 12px 2px rgb(189, 188, 188);
}
.borderStyle {
  overflow: auto;
  height: 100%;
  width: 100%;
  border: 2px solid rgb(160, 211, 194);
  border-radius: 12px;
  margin: 5px 0px;

  padding: 8px;
}
.borderStyle:hover {
  border: 2px solid rgb(50, 156, 120);
  border-radius: 12px;
  margin: 5px 0px;
  padding: 8px;
  box-shadow: 1px 3px 12px 3px rgb(137, 137, 137);
}

h5 {
  margin: 10px;
  padding: 15px;
}
.searchInput {
  width: 50%;
  text-align: center;
  background-color: rgba(213, 213, 213, 0.33);
  border: 1px solid;
  /* border-radius: 8px; */
  padding: 5px 15px;
}

input[type="number"],
select {
  width: 80%;
  padding: 12px 30px;
  margin: 8px 10px;
  display: inline-block;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 12px;
  box-sizing: border-box;
  box-shadow: 6px 6px 10px 1px rgb(134, 134, 134);
}
.Tags {
  font-size: 30px;
  border-radius: 15px;
  width: 100%;
  margin-bottom: 15px;
}
.tagsInput {
  width: 100%;
  color: rgb(0, 0, 0);
  font-size: 16px;
  border: 1px solid black;
  border-radius: 14px;
}
.textSizeSelect {
  font-size: 18px;
}
.submit {
  width: 100%;
  background-color: #4caf50;
  color: white;
  font-size: 30px;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 14px;
  cursor: pointer;
  text-shadow: 1px 2px 8px rgb(0, 0, 0);
}

.textStyle {
  text-shadow: 1px 4px 8px rgb(144, 144, 144);
  text-align: center;
  color: #303030;
  font-size: 54px;
}

.CreateCardTrainer {
  width: 100%;
  height: auto;
  margin-top: 15px;
  background-color: rgba(103, 129, 153, 0.322);
  border-radius: 12px;
}
.CreateCardTrainer:hover {
  width: 100%;
  height: auto;
  margin-top: 15px;
  background-color: rgba(108, 207, 141, 0.801);
  border-radius: 12px;
}
.CreateCardWalker {
  width: 100%;
  margin-top: 15px;
  height: auto;
  background-color: rgba(103, 129, 153, 0.322);
  border-radius: 12px;
}
.CreateCardWalker:hover {
  width: 100%;
  margin-top: 15px;
  height: auto;
  background-color: rgba(108, 207, 141, 0.801);
  border-radius: 12px;
}

/* image profile in the navbar */
.imageProfile {
  border-radius: 100%;
  width: 1.8em;
  height: 1.8em;
  box-shadow: 1px 1px 5px rgb(77, 77, 77);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  /* direction: rtl; */
}

.category_border {
  border-radius: 3.1em;
  height: 100%;
  width: 100%;
  box-shadow: 1px 9px 15px rgb(182, 182, 182);
}
.category_border:hover {
  border-radius: 3.1em;
  height: 100%;
  width: 100%;
  box-shadow: 1px 9px 15px rgb(182, 182, 182);
}
.navbarBackGroundColor {
  background-color: #ffedc2;
  padding: 15px;
  margin-top: 0px;
}
.footerBackGroundColor {
  background-color: #ffedc2;
  padding: 15px;
  margin-top: 0px;
}
.whatsappStyle {
  background-color: green;
  color: white;
}

.btnDelete {
  padding: 0.1em 0.9rem;
  border-radius: 15px;
  background-color: #df5e5e98;
  margin-bottom: 10px;
}
.ResetBtn {
  padding: 0.1em 0.9rem;
  border-radius: 15px;
  margin-right: 8px;
  background-color: rgb(194, 166, 72);
}
.ResetBtn:hover {
  padding: 0.1em 0.9rem;
  border-radius: 15px;
  background-color: rgb(234, 215, 69);
}
.btnEdit {
  padding: 0.1em 0.9rem;
  border-radius: 15px;
  background-color: rgb(150, 199, 150);
  margin-bottom: 10px;
}
.btnEdit:hover {
  padding: 0.1em 0.9rem;
  border-radius: 15px;
  background-color: rgb(19, 179, 118);

  /* box-shadow: rgb(9, 255, 0) 2px 3px 9px; */
}
.btnDelete:hover {
  padding: 0.1em 0.9rem;
  border-radius: 15px;
  background-color: rgb(255, 30, 0);
  /* box-shadow: darkorange 2px 3px 9px; */
}

.Favorite_btn {
  padding: 0.2em 0.5rem;
  border-radius: 15px;
  background-color: #ffffff;
}

.FavoriteDele_btn {
  padding: 0.2em 1.5rem;
  border-radius: 35px;
}

.buttonEmail {
  padding: 4px 25px;
  background-color: rgb(57, 174, 182);
  color: white;
  box-shadow: 1px 1px 8px black;
  border-radius: 15px;
  /* margin-left: 1.2rem; */
  border: solid #000000 1px;
  width: 50%;
}
.buttonWhatsapp {
  padding: 4px 25px;
  background-color: #25d366;
  color: white;
  box-shadow: 1px 1px 8px black;
  border-radius: 15px;
  border: solid #000000 1px;
  width: 50%;
}
.buttonFindMe {
  padding: 4px 16px;
  background-color: rgb(223, 155, 53);
  color: white;
  box-shadow: 1px 1px 8px black;
  border-radius: 7px;
  border: solid #000000 1px;
}

.imgCoverDogs {
  width: 100%;
}

.centered {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-control {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgb(240, 240, 240);
  box-shadow: 1px 9px 15px rgb(182, 182, 182);
}

.form-control:hover {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgb(240, 240, 240);
  box-shadow: 1px 9px 15px rgb(166, 172, 160);
}
.loginForm {
  border-radius: 15px;
  width: 50%;
  padding: 20px 55px;
  background-color: rgba(120, 184, 186, 0.384);
  box-shadow: 1px 9px 15px rgb(166, 172, 160);
  margin-bottom: 12rem;
}

.info {
  font-size: 18px;
  color: white;
}

.tags {
  margin: 0px 15px;
  box-shadow: 1px 6px 6px rgb(38, 34, 34);
  background-color: rgb(163, 211, 210);
  padding: 2px 15px;
  color: #000000;
  border-radius: 15px;
}
.tags:hover {
  margin: 0px 15px;
  box-shadow: 1px 6px 6px rgb(114, 113, 113);
  background-color: rgb(108, 210, 209);
  padding: 2px 15px;
  color: #ffffff;
  border-radius: 15px;
}

.img_banner {
  width: 85%;
  height: auto;
  /* box-shadow: 1px 9px 15px gray; */
  border-radius: 15px;
}
.loginError {
  margin-top: 8%;
  margin-bottom: 10%;
  background-color: rgb(226, 224, 224);
  border-radius: 15px;
  padding: 0px 15px 15px;
  box-shadow: 1px 1px 11px gray;
}

.paginationBttns {
  width: 100%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid;
  color: #000000;
  cursor: pointer;
  border-color: gray;
}

.paginationBttns a:hover {
  color: rgb(0, 0, 0);
  background-color: #25d366;
  /* border-color: gray; */
}

.paginationActive a {
  color: white;
  background-color: #a0c497aa;
}

.paginationDisabled a {
  color: rgb(0, 0, 0);
  background-color: rgba(50, 50, 50, 0.415);
}
.paginationDisabled a:hover {
  color: rgb(0, 0, 0);
  background-color: rgba(50, 50, 50, 0.415);
}

.ROUTES {
  height: 91vh;
  width: 100%;
  overflow: auto;
}
